<h1>{{title}}</h1>

<br /><br />

<div id="map"></div>
<div id="right-panel">
  <button id="simulate" class="btn btn-danger btn-lg inline">Simulate accident</button>
  <br />
  <span>Start: </span>
  <input class="inline" size="50" id="start" type="text" value="Strada Mihai Eminescu nr. 226,București" />
  <span>End: </span>
  <input class="inline" size="50" id="end" type="text" value="Biblioteca Națională a României, Bulevardul Unirii, București" />
  <div id="directions-panel"></div>
</div>

<br /><br />

<div id="reactTest" style="display: none;">not rendering</div>
 